# Datos y salidas
DETECCION_ARMAS_BLANCAS_RAYOSX-1/

# Pesos y modelos
*.onnx
*.engine

# Notebooks y editor
.ipynb_checkpoints/
.vscode/

# Archcivos del sistema
.DS_Store
Thumbs.db


yolo11n.pt
yolov8s.pt